
<html>
    <head>
        <title>TODO: nombrar la aplicacion</title>
        <link rel="icon" type="image/ico" href="{{ url_for('static', filename='icon/icon.png') }}" />
        <!-- Imports for leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
        <!-- /Imports for leaflet -->

        <!-- Google OAuth-->
        <meta name="google-signin-client_id" content="537797467435-m194g55d7to62fjdnq742i8fl1am12ja.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
        <!-- /Google OAuth-->

        <script src="{{url_for('static', filename='js/index.js')}}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <div id="map"></div>
        <div class="leaflet-top leaflet-right loginHeader">
            <div id="googleSignIn" class="g-signin2" data-onsuccess="onSignIn" data-onfailure="onError"></div>
            <div id="googleUser">
                <!-- TODO: Add user profile picture and username next to sign out button -->
                <!-- and add its css -->
                <img id="profilePicture" src="" alt="Profile picture"/>
                <div id="userName">
                    <!-- Username will be inserted here -->
                </div>
                </br>
                <button id="signOutButton" onclick="signOut()">Sign out</button>
            </div>
        </div>
        <script src="{{url_for('static', filename='js/map.js')}}"></script>
    </body>
</html>